<!-- <img src="https://avatars.githubusercontent.com/u/53529846?v=4" height="50px" width="50px"> -->
<h1><a href="https://mattbowditch.com" style="text-decoration:none; color:#262625">Matt Bowditch</a></h1>
<p>I am a PhD student based at the University of Warwick in the <a href="https://warwick.ac.uk/fac/sci/mathsys/">Mathematics for Real-World Systems CDT</a> supervised by <a href="https://warwick.ac.uk/fac/sci/dcs/people/ranko_lazic/">Prof. Ranko Lazic</a> and <a href="https://www.dcs.warwick.ac.uk/~englert/">Dr. Matthias Englert</a>.
</p>
<p>
My current research interests include topics based around convolutional neural networks and image-diffusion models such as:
</p>
<ul>
<li>Backdoor attacks on convolutional neural networks.</li>
<li>Bias within text-to-image diffusion models.</li>
<li>Preventions for malicious AI image editing.</li>
</ul>
<br>
<h1>Past Projects</h1>
<details>
    <summary>Embedding layer backdoors on siamese neural networks</summary>
    <p>This project was completed as part of my Mathematics of Systems MSc, supervised by <a href="https://warwick.ac.uk/fac/sci/dcs/people/ranko_lazic/">Prof. Ranko Lazic</a> and <a href="https://www.dcs.warwick.ac.uk/~englert/">Dr. Matthias Englert</a>. This work was based on a backdoor that can be implemented in facial recognition systems which forces the system to err on attacker-specified people whilst only losing a small amount of accuracy in identifying others (<a href="https://arxiv.org/abs/2301.03118">Shamir & Zehavi, 2023</a>). This can be used to anonymise a person or to cause the system to confuse two people as being the same person.</p>
<p>This work extended on results from the aforementioned paper by:</p>
<ul>
<li> Testing the performance of a popular facial recognition system when multiple such backdoors are implemented.</li> 
<li> Providing a theoretical model for the accuracy of facial recognition systems as a function of the number of backdoors implemented.</li>
<li> Creating a new method of installing these backdoors that causes a smaller reduction in the performance of such systems for a certain range of implemented backdoors.</li>
</ul>
I am continuing this work into my PhD.
</details>
<br>
<details>
    <summary>Evolving predator-prey dynamics in agent-based
models of collective motion</summary>
    <p>This was a group project completed as part of my Mathematics of Systems MSc, supervised by <a href="https://homepages.warwick.ac.uk/~phscz/">Prof. Matthew Turner</a> and <a href="https://warwick.ac.uk/fac/sci/physics/staff/academic/galexander/">Prof. Gareth Alexander</a>. We proposed a force-based model of agents to replicate the dynamics of a group of predators attacking a swarm of prey in a bounded space, involving novel approaches to boundary conditions and predator evasion. </p>

    <p>We then implemented an original evolutionary adaptation mechanism on the prey and predator behavioural parameters, to minimise or maximise the proportion of prey killed respectively. The parameter optimisation process was carried out using the BIPOP-CM-AES algorithm sequentially. Optimisation resulted in continual oscillation between distinct strategies, without the emergence of a dominant strategy for either species.</p>
</details>
<br>
<details>
    <summary>The cavity method applied to group-structured networks</summary>
    <p>    This project was completed as part of my MMath degree from the University of Bath. It was supervised by <a href="https://people.bath.ac.uk/ma3tcr/">Prof. Tim Rogers</a>.
    This extended on work regarding the use of the cavity method to approximate individual node risk when an epidemic is spreading through the network (<a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.124.068301">Moore & Rogers, 2020</a>). Such methods give a good approximation when networks are tree-like, however, the accuracy decreases when more structured networks are considered. </p>

    <p> This project proposed adaptations to this methodology in order to give more accurate approximations in cases in which networks contain many small fully connected subsets of nodes. An analysis of the method was provided with useful properties being determined, such as the contagion threshold: the maximum amount of transmissibility before there is a risk of a large-scale outbreak in the network.</p>
</details>

<br>
<h1>Education & Employment</h1>
<h3>2023-present: University of Warwick</h3>
PhD in Mathematics of Systems

<h3>2022-2023: University of Warwick</h3>
MSc in Mathematics of Systems, distinction

<h3>2021-2022: Screwfix</h3>
Customer data analyst

<h3>2017-2021: University of Bath</h3>
MMath, first-class
